<h1>Listing asuntos</h1>

<table>
  <tr>
  </tr>

<% @asuntos.each do |asunto| %>
  <tr>
    <td><%= link_to 'Show', asunto %></td>
    <td><%= link_to 'Edit', edit_asunto_path(asunto) %></td>
    <td><%= link_to 'Destroy', asunto, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New asunto', new_asunto_path %>