<h2>Sobre Mis municipios</h2>

<h3>¿Por qué lo hacemos?</h3>
<p>
 Participamos en el <%= link_to "Desafio AbreDatos 2010" , "http://www.abredatos.es/"%>  sobre aplicaciones con datos abiertos de <%= link_to "ProBonoPúblico", "http://blog.probp.org/" %>, para intentar que las administraciones públicas liberen los datos que se han generado con el dinero de todos, y que todos deberíamos de poder explotar
</p>                                                                                                                           

<h3>¿De dónde salen los datos?</h3>
<p>
  De algunos sitios públicos. En el futuro quizá se incorporen más fuentes de datos. 
</p>

<h3>¿Quién ha hecho esto?</h3>

<p>
 Mucha gente. Empezando por la asociación <%= link_to "ProBonoPúblico", "http://blog.probp.org/" %>, que ha convocado el desafio. Una vez propuesto, otros muchos han colaborado. Desde Richard Stallman que inventó el software libre; Matz que creo ruby, el lenguaje de programación utilizaado; DHH que creo el framework que hemos utilizado, Ruby on Rails; <% link_to "otros muchos" ,  "http://contributors.rubyonrails.org/" %> colaboraron con este framework (1379); y otros muchos que colaboraron con las tecnologías que hacen que todo esto funcione (algunas de las cuales apenas conozco), como el servidor Apache, el modulo Passanger para interpretar el ruby... También han colaborado Steve Jobs y su equipo que creo el hardware y el software con el que se ha llevada cabo el proyecto, que contribuye a que sea divertido. La gente que esta detrás de <%= link_to "Parlio", "http://parlio.com/" %> me ha prestado sin ellos saberlo (es Open Source) los estilos y el diseño, porque francamente, yo no tengo ni idea. Finalmente yo, Aitor Alzola, lo he desarrollado en las 48 horas que dura el desafío (aunque las horas previas para que esto fuera posible son incontables).
</p>
                                                                                                                                     